<main>
    <div class="container-fluid">
        <div class='d-flex justify-content-center  mt-5'>
            <div class='card p-3'>
                <div class="card-header text-center">
                    <h2 class="text-center">Leccion P1</h2>
                </div>
                <div class=''>
                    <form class="">
                        <div class="mb-3">
                            <label class="exampleFormControlInput1" htmlFor="username">Usuario:</label>
                            <input class="form-control" type="email" id="email" />
                        </div>
                        <div class="mb-3">
                            <label class="exampleFormControlInput1" htmlFor="password">Contraseña:</label>
                            <input class="form-control" type="password" id="password" />
                        </div>
                        <div class="text-center row gap-3">
                            <div>
                                <a class="btn btn-primary w-50 " routerLink="/vista1/">
                                    Ingresar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>